<div class="jumbotron">
  <h1 class="display-4 text-center">Stridecatcher</h1>
  <p class="lead">A simple strava clone.</p>
  <div class="form-group">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>