<p>Duration:
	<%= format_time(@activity.duration) if (@activity.duration.present?) %>
</p>

<p>Calculated pace:
	<%= format_time(@activity.calculated_pace) if (@activity.calculated_pace.present?) %>
</p>

